<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <h1><%= title %></h1>
      <p>Welcome to my <%= title %></p>
    </header>
    <main>
      <a href="/new">Send messages</a>
      <ul>
        <% if (messages.length) {%> <% messages.forEach((message) => { %>

        <li>
          <div class="message">
            <h1><%= message.user_name %></h1>
            <br />
            <div><%= message.posted_at %></div>
            <p><%= message.message %></p>
          </div>
        </li>

        <%})%> <%}%>
      </ul>
    </main>
  </body>
</html>
